body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    background-color: red;
    text-align: center;
}

canvas {
    background-color: green;
    border: 2px solid black;
    display: inline-block;
}

h2 {
    display: inline-block;
}

#rules {
    position: absolute;
    bottom: 0;
    left: 50%;
}

#leaveRoom {
    display: inline-block;
}

.hidden {
    display: none;
}